.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.jumbotron1 {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #d5d5d5;
}
.jumbotron1 h1,
.jumbotron1 .h1 {
  color: inherit;
}
.jumbotron1 p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron1 > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron1,
.container-fluid .jumbotron1 {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
}
.jumbotron1 .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron1 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron1,
  .container-fluid .jumbotron1 {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron1 h1,
  .jumbotron1 .h1 {
    font-size: 63px;
  }
}
